body {
  background-color: #f0f0f0;
}
.content {
    text-align: center;
    color: #888888;
    height: 200px;
    width: 100%;
}
.header {
    text-align: center;
    color: #a800a8;
}
.footer {
    text-align: center;
    color: #00a800;
}
.center {
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 10px;
}
